<div class="animated fadeIn mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 mb-4">
                <app-input-search (submited)="filter($event)"></app-input-search>
              </div>
              <div class="col-md-8 mt-1 mb-2 text-right">
                <button type="button" class="btn btn-default btn-success btn-md" tooltip="Adicionar" placement="bottom" [routerLink]="['create']" ><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <ng-container  *ngIf="billings.length">
              <app-list-billing [billings]="billings" ></app-list-billing>
            </ng-container>
        
            <div class="float-right">
              <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)">
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

